<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
					<basicHttpBinding>
						<binding name="BasicHttpBinding_ITextAnalyticsService" 
										 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
							<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" 
														maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
						</binding>
					</basicHttpBinding>
				</bindings>
        <client>
            <endpoint address="http://localhost:8080/TextAnalyticsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITextAnalyticsService"
                contract="TextAnalyticsServiceReference.ITextAnalyticsService"
                name="BasicHttpBinding_ITextAnalyticsService" />
        </client>
    </system.serviceModel>
</configuration>